body {
    background-image: url('https://img.freepik.com/vector-gratis/elementos-vectoriales-etiquetas-vintage-fitness-gimnasio-gimnasio-fitness-deportivo-elemento-musculacion-mancuernas-barra-ilustracion-etiqueta_1284-47795.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }